.stripey-1 {
  background: repeating-linear-gradient(
  45deg,
  purple,
  purple 8em,
  #eecdfe 8em,
  #eecdfe 16em
  );
  background-attachment: fixed;
  color: white;
  text-shadow: grey 0.1em 0.1em 0.2em;
}
.stripey-2 {
  background: repeating-linear-gradient(
  45deg,
  purple,
  purple 8em,
  #d482fc 8em,
  #d482fc 16em
    );
  background-attachment: fixed;
  color: white;
  text-shadow: black 0.1em 0.1em 0.2em;
}
.stripey-3 {
  background: repeating-linear-gradient(
  45deg,
  purple,
  purple 8em,
  #ba37fb 8em,
  #ba37fb 16em
  );
  background-attachment: fixed;
  color: white;
  text-shadow: black 0.1em 0.1em 0.2em;
}
.stripey-4 {
  background: repeating-linear-gradient(
  45deg,
  purple,
  purple 8em,
  #9705e1 8em,
  #9705e1 16em
);
  background-attachment: fixed;
  color: white;
  text-shadow: black 0.1em 0.1em 0.2em;
}

.flexbox {
    padding: 10px;
    min-height: 100vh;
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row wrap;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    list-style: none;
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
}
.column {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: column wrap;
        flex-flow: column wrap;
    padding: 5px;
    min-width: 40%;
    margin-bottom: 10%;
}
@media (max-width: 1020px) {
  .flexbox {
    display: inline;
  }
  .B {
    display: none;
  }
}
.thumb {
    margin: auto;
    max-width: 20vh;
    box-shadow: 0 0 6vh 1vh #0000EE;
    opacity: 0;
}
h1 {
    display: block;
    font-size: 2em;
    font-weight: bold;
}
table {
    white-space: normal;
    line-height: 3em;
    font-weight: normal;
    font-size: medium;
    font-style: normal;
    font-variant: normal;
    display: table;
}
tbody {
    display: table-row-group;
    vertical-align: middle;
}
tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}
th {
    font-weight: bold;
    text-align: -internal-center;
}
td, th {
    display: table-cell;
    vertical-align: middle;
    padding-right: 1em;
}
i, cite, em, var, address, dfn {
    font-style: italic;
}
address {
    display: block;
}
hr {
    display: block;
    -webkit-margin-before: 0.5em;
    -webkit-margin-after: 0.5em;
    -webkit-margin-start: auto;
    -webkit-margin-end: auto;
    border-style: inset;
    border-width: 1px;
}
td {
    vertical-align: top;
}
a:-webkit-any-link, th {
    text-align: left;
    color: -webkit-link;
    text-decoration: underline;
    cursor: auto;
}
a:link, a:visited, a:active {
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
    display: block;
    color: #0000EE;
    font-size: 1em;
    height: 1em;
}
a:link, a:visited, a:active {
}
a:hover {
    color: #f04c42;
    font-size: 2em;
    height: inherit;
    font-weight: bold;
}
.a-td {
    width: 250px;
}
dt {
    margin-left: 10vh;
}
