#sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 50px;
  height: 100vh;
  background-color: #ddd;
  box-shadow: 0 0 8px #555;
}
#sticky:hover {
  background-color: #bbb;
}
.navburger {
  position: absolute;
  background: url('../img/navburger.svg') no-repeat 0 0;
	background-size: 60px 30px;
	width: 30px;
	height: 30px;
  left: 10px;
  top: 10px;
}
.navburger:hover {
  background-position: -27.5px 0;
}
.pusher {
  top: 0;
  left: 0;
}
main {
  padding-top: 2em;
  padding-left: 50px;
}
.tab-box {
  padding: 2em;
}
.tabular {
  background-color: white;
}
