@media all and (min-width: 960px) {
    body {
        font-size: 20px;
    }
}

@media all and (max-width: 959px) and (min-width: 609px) {
    body {
        font-size: 18px;
    }
}

@media all and (max-width: 608px) and (min-width: 320px) {
    body {
        font-size: 16px;
    }
}

h1 {
    font-size: 2.441em;
}

h2 {
    font-size: 1.953em;
    width: 100%;
    text-align: center;
}

h3 {
    font-size: 1.563em;
}

h4 {
    font-size: 1.25em;
}

p,
a {
    font-size: 1em;
}

body {
  font-family: 'Open Sans', sans-serif;
  color: #fff;
  text-shadow: #000 0.1em 0.1em 0.2em;
  background: -webkit-repeating-linear-gradient( 45deg, #7F007F, #7F007F 8em, #9705e1 8em, #9705e1 16em);
  background: repeating-linear-gradient( 45deg, #7F007F, #7F007F 8em, #9705e1 8em, #9705e1 16em);
  background-attachment: fixed;
  margin: 0;
}

#video {
  display: none;
  position: absolute;
  background: transparent;
}

.ytplayer-container{
 position: absolute;
 top: 0;
 z-index: -10;
}

main {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
  padding-right: 2em;
}
.right {
  align-self: flex-end;
  transition: align-self 500ms;
}
h1,
a,
.space-invader-box__top {
  transform: translateX(0);
  transition: transform 500ms;
}
a {
  color: #eee;
  text-decoration: none;
  margin-top: 1em;
}

a:hover {
  color: #ECD3FE;
  transform: translateY(0.05em);
}
p#cateringHover {
  display: none;
  color: red;
  position: absolute;
  top: 0;
  left: 0;
}
.dim {
  opacity: 0.5;
}
.space-invader,
.space-invader__top {
  opacity: 1;
  z-index: 0;
  width: 1em;
  height: 1em;
  margin: 3em 0 0 5em;
  overflow: hidden;
  box-shadow: 0 0 0 1em rgba(230, 230, 230, 0.3), 1em 2em 0 0 rgba(230, 230, 230, 0.3), 0 2em 0 0 rgba(230, 230, 230, 0.3), -1em 2em 0 0 rgba(230, 230, 230, 0.3), -2.5em 1.5em 0 .5em rgba(230, 230, 230, 0.3), 2.5em 1.5em 0 .5em rgba(230, 230, 230, 0.3), -3em -3em 0 0 rgba(230, 230, 230, 0.3), 3em -3em 0 0 rgba(230, 230, 230, 0.3), -2em -2em 0 0 rgba(230, 230, 230, 0.3), 2em -2em 0 0 rgba(230, 230, 230, 0.3), -3em -1em 0 0 rgba(230, 230, 230, 0.3), -2em -1em 0 0 rgba(230, 230, 230, 0.3), 2em -1em 0 0 rgba(230, 230, 230, 0.3), 3em -1em 0 0 rgba(230, 230, 230, 0.3), -4em 0 0 0 rgba(230, 230, 230, 0.3), -3em 0 0 0 rgba(230, 230, 230, 0.3), 3em 0 0 0 rgba(230, 230, 230, 0.3), 4em 0 0 0 rgba(230, 230, 230, 0.3), -5em 1em 0 0 rgba(230, 230, 230, 0.3), -4em 1em 0 0 rgba(230, 230, 230, 0.3), 4em 1em 0 0 rgba(230, 230, 230, 0.3), 5em 1em 0 0 rgba(230, 230, 230, 0.3), -5em 2em 0 0 rgba(230, 230, 230, 0.3), 5em 2em 0 0 rgba(230, 230, 230, 0.3), -5em 3em 0 0 rgba(230, 230, 230, 0.3), -3em 3em 0 0 rgba(230, 230, 230, 0.3), 3em 3em 0 0 rgba(230, 230, 230, 0.3), 5em 3em 0 0 rgba(230, 230, 230, 0.3), -2em 4em 0 0 rgba(230, 230, 230, 0.3), -1em 4em 0 0 rgba(230, 230, 230, 0.3), 1em 4em 0 0 rgba(230, 230, 230, 0.3), 2em 4em 0 0 rgba(230, 230, 230, 0.3);
}

.space-invader-box,
.space-invader-box__top {
  right: calc((100vw / 2) - 5.5vw);
  margin: auto 0 2em 0;
  width: 11em;
  height: 8em;
}

.space-invader__top {
  box-shadow: 0 0 0 1em hsla(0, 50%, 50%, 0.5), 1em 2em 0 0 hsla(0, 50%, 50%, 0.5), 0 2em 0 0 hsla(0, 50%, 50%, 0.5), -1em 2em 0 0 hsla(0, 50%, 50%, 0.5), -2.5em 1.5em 0 .5em hsla(0, 50%, 50%, 0.5), 2.5em 1.5em 0 .5em hsla(0, 50%, 50%, 0.5), -3em -3em 0 0 hsla(0, 50%, 50%, 0.5), 3em -3em 0 0 hsla(0, 50%, 50%, 0.5), -2em -2em 0 0 hsla(0, 50%, 50%, 0.5), 2em -2em 0 0 hsla(0, 50%, 50%, 0.5), -3em -1em 0 0 hsla(0, 50%, 50%, 0.5), -2em -1em 0 0 hsla(0, 50%, 50%, 0.5), 2em -1em 0 0 hsla(0, 50%, 50%, 0.5), 3em -1em 0 0 hsla(0, 50%, 50%, 0.5), -4em 0 0 0 hsla(0, 50%, 50%, 0.5), -3em 0 0 0 hsla(0, 50%, 50%, 0.5), 3em 0 0 0 hsla(0, 50%, 50%, 0.5), 4em 0 0 0 hsla(0, 50%, 50%, 0.5), -5em 1em 0 0 hsla(0, 50%, 50%, 0.5), -4em 1em 0 0 hsla(0, 50%, 50%, 0.5), 4em 1em 0 0 hsla(0, 50%, 50%, 0.5), 5em 1em 0 0 hsla(0, 50%, 50%, 0.5), -5em 2em 0 0 hsla(0, 50%, 50%, 0.5), 5em 2em 0 0 hsla(0, 50%, 50%, 0.5), -5em 3em 0 0 hsla(0, 50%, 50%, 0.5), -3em 3em 0 0 hsla(0, 50%, 50%, 0.5), 3em 3em 0 0 hsla(0, 50%, 50%, 0.5), 5em 3em 0 0 hsla(0, 50%, 50%, 0.5), -2em 4em 0 0 hsla(0, 50%, 50%, 0.5), -1em 4em 0 0 hsla(0, 50%, 50%, 0.5), 1em 4em 0 0 hsla(0, 50%, 50%, 0.5), 2em 4em 0 0 hsla(0, 50%, 50%, 0.5);
}

.space-invader-box__top {
  display: none;
}

.space-invader-box:hover,
.space-invader-box__top:hover {
  opacity: 0.5;
}
