@media all and (min-width: 960px) {
  body {
    font-size: 20px;
  }
}

@media all and (max-width: 959px) and (min-width: 609px) {
  body {
    font-size: 18px;
  }
}

@media all and (max-width: 608px) and (min-width: 320px) {
  body {
    font-size: 16px;
  }
  .menu-img {
    display: none;
  }
}

h1 {
  font-size: 2.441em;
}

h2 {
  font-size: 1.953em;
  width: 100%;
  text-align: center;
}

h3 {
  font-size: 1.563em;
}

h4 {
  font-size: 1.25em;
}

p,
li,
a,
input,
textarea {
  font-size: 1em;
}
nav a {
  font-size:  1.25em;
}

body {
  color: #444;
  line-height: 1.2;
  display: flex;
  flex-flow: row wrap;
  font-family: 'PT Sans Narrow', sans-serif;
  background-color: rgb(136, 0, 0);
  background-image:
    -webkit-linear-gradient(
      rgba(253, 255, 255, 0.5) 0%,
      rgba(253, 255, 255, 0.5) 50%,
      rgba(136, 0, 0, 0.7) 50%,
      rgba(136, 0, 0, 0.7) 100%
      ),
    -webkit-linear-gradient(
      left,
      rgba(253, 255, 255, 0.5) 0%,
      rgba(253, 255, 255, 0.5) 50%,
      rgba(136, 0, 0, 0.7) 50%,
      rgba(136, 0, 0, 0.7) 100%
      );
      background-size: 100px 100px;
  background-image:
    -moz-linear-gradient(
      rgba(253, 255, 255, 0.5) 0%,
      rgba(253, 255, 255, 0.5) 50%,
      rgba(136, 0, 0, 0.7) 50%,
      rgba(136, 0, 0, 0.7) 100%
      ),
    -moz-linear-gradient(
      left,
      rgba(253, 255, 255, 0.5) 0%,
      rgba(253, 255, 255, 0.5) 50%,
      rgba(136, 0, 0, 0.7) 50%,
      rgba(136, 0, 0, 0.7) 100%
      );
      background-size: 100px 100px;
  background-image:
    -o-linear-gradient(
      rgba(253, 255, 255, 0.5) 0%,
      rgba(253, 255, 255, 0.5) 50%,
      rgba(136, 0, 0, 0.7) 50%,
      rgba(136, 0, 0, 0.7) 100%
      ),
    -o-linear-gradient(
      left,
      rgba(253, 255, 255, 0.5) 0%,
      rgba(253, 255, 255, 0.5) 50%,
      rgba(136, 0, 0, 0.7) 50%,
      rgba(136, 0, 0, 0.7) 100%
      );
      background-size: 100px 100px;
  background-image:
    linear-gradient(
      rgba(253, 255, 255, 0.5) 0%,
      rgba(253, 255, 255, 0.5) 50%,
      rgba(136, 0, 0, 0.7) 50%,
      rgba(136, 0, 0, 0.7) 100%
      ),
    linear-gradient(
      left,
      rgba(253, 255, 255, 0.5) 0%,
      rgba(253, 255, 255, 0.5) 50%,
      rgba(136, 0, 0, 0.7) 50%,
      rgba(136, 0, 0, 0.7) 100%
      );
      background-size: 100px 100px;
  background-attachment: fixed;
  margin: 0;
  padding-top: 78px;
  width: 100%;
}

h1 {
  font-weight: bold;
  text-shadow: 1px 1px 1px #444, 2px 2px 1px #666;
  color: #666;
}

nav {
  z-index: 20;
  box-shadow: 2px 2px 8px #000;
  position: fixed;
  top: 0;
  min-width: 100%;
  max-height: 4em;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  background-color: #2F4070;
  color: white;
}

.logo {
  flex: 1 1 auto;
  max-height: 4em;
  margin-left: 1em;
  margin-right: auto;
}
.logo img {
  max-height: 4em;
}

nav ul {
  display: flex;
  flex-flow: row wrap;
  flex: 0 1 auto;
  margin-right: 2em;
  margin-left: auto;
}

nav li {
  display: inline-block;
  flex: 1 1 auto;
  border-radius: 0.5em;
  width: 5em;
  height: 2.5em;
  margin: 0 0.5em;
}

nav li:hover {
  background-color: #26335b;
}

nav li:active {
  box-shadow: inset 0 2px 2px 1px #111;
}
nav li:active a {
  transform: translateY(2px);
}
nav a {
  display: inline-block;
  width: 100%;
  height: 100%;
  line-height: 2em;  
  text-align: center;
  text-decoration: none;
  color: white;
}

.banner {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-content: center;
  width: 100%;
  height: calc(100vh - 78px);
  background-image: url("../img/space.jpg");
  background-position: left bottom;
  background-size: cover;
  box-shadow: 4px 4px 16px #444;
}

.caption {
  font-size: 4.768em;
  color: white;
  background: none;
  line-height: 1.1;
  text-align: center;
  text-shadow: 1px 1px 1px #444, 2px 2px 1px #666;
  box-shadow: none;
}

section {
  z-index: 0;
}

.anchor {
  display: block;
  width: 100%;
  height: 40px;
  z-index: -1;
  left: 0;
  visibility: hidden;
}

.h1-box {
  position: relative;
  display: flex;
  width: 100%;
  height: 6em;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  background-color: white;
  box-shadow: 2px 2px 8px #444;
  margin-top: 3em;
  z-index: 10;
}

.menu-heading-box {
  position: relative;
  display: flex;
  width: 100%;
  height: 6em;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  background-color: white;
  box-shadow: 1px 1px 8px #444;
  margin-top: 3em;
  z-index: 10;
}

.menu-gap {
  margin-right: auto;
  width: 20%;
}

.menu-heading {
  text-align: center;
  font-size: 2.441em;
  font-weight: bold;
  text-shadow: 1px 1px 4px #444, 2px 2px 1px #666;
  color: #666;
  width: 20%
}

.menu-print {
  position: relative;
  max-width: 18%%;
  margin-left: auto;
  margin-right: 2em;
  padding: 0.5em 0;
  border-radius: 0.5em;
  display: inline-block;
  text-decoration: none;
  text-align: center;
  color: #666;
}

.menu-print:hover {
  background-color: #e0dcca;
  cursor: pointer;
}

.menu-print:active {
  position: relative;
  top: 2px;
  box-shadow: inset 0 2px 2px 1px #444;
}

.block {
  width: calc(100vw - 8%);
  margin: 0 4%;
  background-color: #e0dcca;
  box-shadow: 2px 2px 8px #444;
  z-index: 5;
}

.accordion {
  position: relative;
  box-shadow: 2px 2px 8px #444;
}

.accordion-heading {
  position: relative;
  background-color: #F5F3ED;
  padding: 1em 0;
  text-align: center;
  vertical-align: middle;
  text-shadow: 1px 1px 2px #555;
  color: #666;
  outline: 1px solid #BBB;
  cursor: default;
  box-shadow: 2px 2px 8px #666;
  z-index: 5;
}
.accordion-heading:hover {
  background-color: #E0DCCA;
}
.accordion-content {
  display: flex;
  flex-flow: row nowrap;
  background-color: #EAE8DC;
  width: 100%;
}
.menu-items {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  flex: 2 0;
  padding: 0.5em;
}

.menu-caption {
  text-align: center;
  width: 100%;
  margin: 1em;
}

.menu-caption ul {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  margin-top: 1em;
}
.menu-caption ul li {
  display: inline-block;
  margin: 0 auto;
}

.menu-img {
  flex: 1 0;
  background-image: url("../img/continental-breakfast-tall.jpg");
  box-shadow: 2px 2px 8px #666;
}

.item {
  display: flex;
  flex-flow: column nowrap;
  flex: 1 0 25%;
  justify-content: stretch;
  align-items: center;
  width: 16em;
  margin: 0.5em;
  padding: 1em;
  background-color: white;
  box-shadow: 2px 2px 8px #666;
}
.full-width {
  flex: 1 0 80%;
}
.item-img {
  width: 15em;
  height: 11.25em;
  margin-bottom: 1em;
}
.payment-block {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
}
.payment {
  height: 2em;
  margin-left: auto;
  box-shadow: 1px 1px 4px #666;
}

.payment:last-of-type {
  margin-right: auto;
}

.item p {
  width: 100%;
  margin-bottom: 0.5em;
}

.item span {
  font-weight: bold;
}

.item-list {
  text-align: left;
  padding: 0;
  list-style-position: inside;
}

.item-list li {
  margin: 0 0 10px 0;
}
.item-box {
  flex-flow: row wrap;
  text-align: left;
}
.item-box p {
  width: auto;
  margin: 0;
  margin-bottom: 1em;
}
.longlist {
  display: flex;
  flex-flow: row wrap;
  justify-content: baseline;
  align-items: baseline;
  text-align: left;
}
.longlist h3 {
  text-align: center;
  width: 100%;
}
.longlist p {
  display: inline-block;
  flex: 1 0 45%;
  margin-left: 1em;
}
.longlist .fa {
  font-size: 70%;
}
.signature {
  color: rgba(136, 0, 0, 0.7);
}
figure {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  margin: 0;
}

figure div {
  margin-right: auto;
}

figcaption {
  font-weight: bold;
  text-align: left;
}

figure ul {
  list-style-type: none;
  margin-right: 1em;
}
.contact-item {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  flex: 1 0;
  width: auto;
}
form {
  display: flex;
  flex-flow: row wrap;
  align-content: center;
  margin-top: 1em
}
form label {
  flex: 0 1 20%;
  max-height: 2em;
  text-align: right;
  margin: 0 0.5em 0.5em 0;
  padding: 0.5em 0;
}
form input, form textarea {
  flex: 0 1 70%;
  max-height: 2em;
  color: #444;
  outline: none;
  border: 1px solid #BBB;
  margin-bottom: 0.5em;
  padding-left: 0.5em;
  box-shadow: inset 2px 2px 4px #BBB;
}
form textarea {
  max-height: none;
  min-height: 4em;
  padding-top: 0.5em;
  resize: vertical;
}
input:focus:invalid {
  background-color: #F1C4C2;
}
input:valid {
  background-color: #FFF;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  font-family: 'PT Sans Narrow', sans-serif;
}
::-moz-placeholder { /* Firefox 19+ */
  font-family: 'PT Sans Narrow', sans-serif;
}
:-ms-input-placeholder { /* IE 10+ */
  font-family: 'PT Sans Narrow', sans-serif;
}
:-moz-placeholder { /* Firefox 18- */
  font-family: 'PT Sans Narrow', sans-serif;
}
#email-submit {
  position: relative;
  display: inline-block;
  background-color: #FFF;
  padding: 0.5em 0;
  border: 1px solid #EEE;
  border-radius: 0.5em;
  width: 5em;
  margin: 0 auto;
  outline: none;
  font-size: 1em;
  text-decoration: none;
  color: #666;
}
#email-submit:hover {
  background-color: #e0dcca;
  cursor: pointer;
}

#email-submit:active {
  position: relative;
  top: 2px;
  box-shadow: inset 0 2px 2px 1px #444;
}
.map-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 300px;
    margin: 1em 0;
}
.map:hover {
  transform: translate(1px, 2px);
}
.map:active {
  transform: translate(2px, 4px);  
}
.map-container.map-hover:before, .map-container.map-hover:after, .map.map-hover:before, .map-hover:after {
    position: absolute;
    display: block;
    box-shadow: 0 0 8px 2px #444;
    content: '';
    z-index: 5;
}
.map-container.map-hover:before {
    top: -5px;
    left: 0;
    right: 0;
    height: 5px;
}
.map-container.map-hover:after {
    left: -5px;
    top: 0;
    bottom: 0;
    width: 5px;
}
.map.map-hover:before{
    bottom: -5px;
    left: 0;
    right: 0;
    height: 5px;
}
.map.map-hover:after{
    left: -5px;
    top: 0;
    bottom: 0;
    width: 5px;
}
#map {
    width: inherit;
    height: inherit;
}
.map iframe {
  width: 100%;
  display: block;
  pointer-events: none;
  position: relative; /* IE needs a position other than static */
  z-index: 0;
}
.map iframe.clicked{
  pointer-events: auto;
}
footer {
  width: 100%;
  display: flex;
  background-color: #333;
  color: white;
  justify-content: center;
  align-items: center;
  height: 60px;
  margin-top: 60px;
}

footer p {
  display: flex;
}


/* For IE 6/7 (trigger hasLayout) */
