// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$font-stack: 'Helvetica', sans-serif;

body {
	font: 100% $font-stack;
}
h1 {
	margin-left: 1em;
}
form, form a {
	margin-left: 2em;
}
form a {
	display: block;
}
tr {
	margin-top: 0.5em;
}
th, td {
	padding: 0 2em 1em 2em;
	text-align: left;
}
a {
	display: block;
	background-color: rgba(255,255,255,0.2);
	color: #444;
	text-decoration: none;
	text-align: center;
	max-width: 4em;
	padding: 0.5em;
	margin-top: 0.25em;
	border-radius: 0.5em;
	border: 1px solid rgba(255,255,255,0.6);
}
a[href='/articles'] {
	margin-left: 2em;
}
a:hover {
	position: relative;
	top: 1px;
	background-color: rgba(255,255,255,0.4);
}
a:active {
	position: relative;
	top: 2px;
	background-color: rgba(255,255,255,0.6);
}
#error_explanation {
	max-width: 50%;
	padding: 0.5em;
	border-radius: 0.5em;
	background-color: rgba(255,111,89,0.2);
	border: 1px solid rgba(178,34,12,0.6);
	color: rgba(178,34,12,0.9);
	h2 {
		margin: 0;
	}
	ul {
		list-style: none;
		padding: 0;
		counter-reset: counter;
		li:before {
			content: "numberOfErrors[" counter(counter) "] = " ;
			counter-increment: counter;
		}
	}
}

input[type=submit] {
	font-size: 1em;
	padding: 0.5em;
	background-color: rgba(255,255,255,0.2);
	border: 1px solid rgba(255,255,255,0.6);
	border-radius: 0.5em;
}
input:hover, textarea:hover {
	background-color: rgba(255,255,255,0.4);
}
input:active, input:focus, textarea:active, textarea:focus {
	background-color: rgba(255,255,255,0.6);
}
#article_title, #article_text {
	padding: 0.5em;
	margin-top: 0.5em;
	border-radius: 0.5em;
	border: 1px solid rgba(255,255,255,0.6);
}
.destroy a {
	font-size: 1em;
	padding: 0.5em;
	background-color: rgba(255,111,89,0.2);
	border: 1px solid rgba(255,111,89,0.6);
	border-radius: 0.5em;
}
.destroy a:hover {
	background-color: rgba(255,111,89,0.4);
}
.destroy a:active {
	background-color: rgba(255,111,89,0.6);
}
