<style>html{background-color: #DE8F6E;}</style>

<h1>Showing article</h1>
<table>
	<tr>
		<td>
			<h3>Title:</h3>
		</td>
		<td>
			<%= @article.title %>
		</td>
	</tr>
	<tr>
		<td>
			<h3>Text:</h3>
		</td>
		<td>
			<%= @article.text %>
		</td>
	</tr>
	<tr>
		<td>
			<%= link_to 'Back', articles_path %>
		</td>
	</tr>
</table>
