
body {
	font-size: calc( 14px + (20 - 14) * (100vw - 320px)/(1280 - 320));
  line-height: calc( 1.3em + (1.5 - 1.3) * ( (100vw - 21em) / (35 - 21)));
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: center;
	font-family: 'Amiko', sans-serif;
	padding: 0;
}
p,
a,
input,
li,
button,
span,
select,
option {
	font-size: 1em;
	padding: 0;
	margin: 0;
}
.description,
.form_style {
	flex: 1 1 40%;
}
.description {
	color: #fff;
	padding: 1em;
	background-color: #6C93AD;
	border: 1px solid #4B6170;
	border-radius: 1em;
}
.form_style {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	padding: 1em;
}
#contentText {
	padding: 0.75em;
	border: 1px solid #ccc;
	border-radius: 1em;
	width: 100%;
	height: 1.5em;
	margin: 0 1em 1em 0;
	outline: none;
}
#contentText:focus {
	background-color: hsl(204, 28%, 95%);
}

/* .select_wrapper {	position: relative;	display: inline-block;	height: 3em;	border: 1px solid #ccc;	border-radius: 1em;	margin: 1em;}.select_wrapper:hover {	background-color: hsl(204, 28%, 95%);}.select_wrapper i {	position: absolute;	top: 1em;	right: 0.5em;}.select_wrapper select {	-webkit-appearance: none;	background: transparent;	height: 3em;	padding: 0.5em 1.5em 0.5em 1em;	border-radius: 1em;	outline: none;	border: none;	z-index: 10;} */

#inSubmit,
#outSubmit {
	flex: 1 1;
	display: inline-block;
	background: hsl(204, 28%, 55%);
	border: 1px solid #4B6170;
	color: #fff;
	padding: 1em 0;
	margin: 0 1em 1em 0;
	border-radius: 1em;
	outline: none;
}
#inSubmit:hover,
#outSubmit:hover {
	background: hsl(204, 28%, 45%);
}
#inSubmit:active 
#outSubmit:active {
	background: hsl(204, 28%, 35%);	
}
.content_wrapper {
	width: 100%;
}
#responds{
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
	width: 100%;
	padding: 0;
	list-style: none;
}
#responds li {
	flex: 0 1 40%;
	display: flex;
	flex-flow: row nowrap;
	list-style: none;
	padding: 1em;
	background: rgb(221, 240, 255);
	margin: 1em;
	border-radius: 1em;
	outline: none;
}
#responds li.sel {
	background: rgb(255, 221, 221);
}
#responds li p {
	margin: 0 auto 0 0;
}
.del_wrapper{
	width: 1.5em;
	height: 1.5em;
	margin-left: auto;
}
.close {
  position: relative;
  display: inline-block;
	color: hsl(0, 50%, 50%);
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.query_table {
	width: 80%;
	margin: 1em;
	padding: 1em;
	border: 1px solid #ddd;
}
.test_output {
	color: hsl(0, 50%, 30%);
	margin: 1em;
}