body {
	font-size: calc( 14px + (20 - 14) * (100vw - 320px)/(1280 - 320));
  line-height: calc( 1.3em + (1.5 - 1.3) * ( (100vw - 21em) / (35 - 21)));
  font-family: 'Roboto', sans-serif;
  margin: 0;
  background-color: #ddd;
}

.stage {
 -webkit-perspective: 1000;                   /* Sets up your viewpoint for seeing the animation */
}

.flashcard,
.front,
.back {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}
.flashcard {                                         /* Centers the flashcard on the page */
  border: 1px solid gray;                            /*  Border makes the animation easier to see. */
  box-shadow: 2px 2px 2px #000;
  -webkit-transform-style: preserve-3d;                                 /* Provides 3D perspective. */
  transition: all 0.3s;                                /* Slows down any transitions (e.g. rotation) */
  -webkit-transition: all 0.3s;
  width: 30em;
  height: 20em;
  margin: 10% auto;
  z-index: 100;
  user-select: none;
}

.flashcard:active, .back {
  transform: rotateX(180deg);
  -webkit-transform: rotateX(180deg);                      /* Rotates flashcard div when applied */
}

.front, .back {
	background-color: #eee;
  position: absolute;                    
  -webkit-backface-visibility: hidden;           /*  Hides back side of text (it's upside down) */
  text-align: center;
  width: 30em;
  height: 20em;
}

br {
  display: none;
}

.front p, .back p {
	display: inline-block;
	font-size: 1.75em;
  width: 100%;
  margin: auto;
}
